DATABASE_URL="mysql://u123_user:password@localhost:3306/u123_webujian"
JWT_SECRET="ganti_dengan_random_string_minimal_32_karakter"
PORT=3001
NODE_ENV=production
FRONTEND_URL="https://domain-anda.com"
